<div class="dropdown">

  <table class="table table-hover text-nowrap">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Author</th>
        <th scope="col">Amount</th>
        <th scope="col">Action</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <% @transactions.each do |transaction| %>
        <% if transaction_exists?(transaction) %>
          <tr>
            <th scope="row"><%= transaction.name %></td>
            <td><%= current_user.name %></td>
            <td><%= transaction.amount %></td>
            <td><%= button_to 'Edit', edit_transaction_path(transaction), method: :get, class: 'btn-primary'%></td>
            <td><%= button_to 'Destroy', transaction,class: 'btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <div class="d-grid gap-2">
    <button
      class="btn btn-primary py-3 text-light mb-2 shadow-0 dropdown-toggle"
      type="button"
      id="transactions"
      data-mdb-toggle="dropdown"
      aria-expanded="false"
    >
    Add Transaction
  </button>
    <ul class="dropdown-menu" aria-labelledby="transactions">
      <% @transactions.each do |t| %>
        <% if transaction_exists?(t) %>
          <li><div class="dropdown-item d-grid gap-2"><%= t.name %><%= button_to 'Remove', transaction_exists?(t), method: :delete %></div></li>
        <% else %>
          <li><div class="dropdown-item d-grid gap-2"><%= t.name %><%= button_to 'Add', transaction_groups_path( group_id: @group.id, transaction_id: t.id ), method: :post %></div></li>
        <% end %>
      <% end %>
    </ul>
</div>
</div>