<div class='signup'>
<%= form_with(model: user) do |form| %>
    <%= error_log(user) %>


  <div class="form-outline field">
    <%= form.text_field :name,
                        autofocus: true,
                        required: true,
                        type: 'name',
                        class: "form-control string required py-2 my-3",
                        placeholder: "Name",
                        label: true%>
  </div>

  <div class="form-outline field">
    <%= form.text_field :username,
                        required: true,
                        type: 'username',
                        class: "form-control string required py-2 my-3",
                        placeholder: "Username",
                        label: true%>
  </div>

  <div class="form-actions d-grid gap-2 actions">
    <%= render_submit(form) %>
  </div>

<% end %>
</div>