<%= form_with(model: transaction) do |form| %>
  <% if transaction.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

      <ul>
        <% transaction.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-outline field">
    <%= form.label :name %>
    <%= form.text_field :name,
                        autofocus: true,
                        required: true,
                        class: "form-control string required py-2 mb-3",
                        placeholder: "Name",
                        label: true%>
  </div>

  <div class="form-outline field">
    <%= form.label :amount %>
    <%= form.text_field :amount,
                        required: true,
                        class: "form-control string required py-2 mb-3",
                        placeholder: "Description",
                        label: true  %>
  </div>

  <div class="form-actions d-grid gap-2 actions">
    <%= render_submit(form) %>
  </div>
<% end %>
