<p id="notice"><%= notice %></p>
<h1>Transactions </h1>
<span> Total# <%= current_user.total_amount %> </span>

<% @transactions.each do |transaction| %>
  <div class="d-flex flex-column mb-3">
      <div class="card flex-row">
        <%= link_to transaction, class: "col-11 d-flex flex-row px-0" do %>
          <div class="col-2 p-2 border-end"><%= group_icon(transaction) %></div>
          <div class="card-body">
            <h5 class="card-title"><%= transaction.name %></h5>
            <p class="card-text m-0">
              <%= number_to_currency(transaction.amount) %>
            </p>
            <!--            strftime("%Y-%m-%d %I:%M %p")-->
            <small><span class="badge rounded-pill bg-info badge-font">Created At# <%= transaction.created_at.strftime("%d-%m-%Y") %></span></small>
            <small><span class="badge rounded-pill bg-warning text-dark badge-font">Updated At# <%= transaction.updated_at.strftime("%d-%m-%Y") %></span></small>
          </div>
        <% end %>

        <div class="col-1 d-flex flex-column px-0">
          <%= link_to  edit_transaction_path(transaction), class: 'btn btn-primary p-1 h-75 w-100' do %>
            <i class="fas fa-edit"></i>
          <% end %>
          <%= button_to transaction, class: 'btn btn-danger p-1 w-100', data: { confirm: 'Are you sure?' }, method: :delete do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    <div class="card text-center"><small ><strong>Groups_Tags#</strong><%= groups_list(transaction) %></small></div>
  </div>
<% end %>

<br>
<div class="d-grid gap-2">
<%= link_to 'New Transaction', new_transaction_path, class: 'btn btn-primary py-3 text-light mb-2 shadow-0'  %>
</div>